<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ServletTest</display-name>
  
  <listener>
  <display-name>Context Listener</display-name>
  <listener-class>com.hexagon.Round18_04_Listener</listener-class>
  </listener>
  
  <servlet>
  	<servlet-name>My04_01</servlet-name>
  	<servlet-class>com.hexagon.Round18_04</servlet-class>  <!-- 클래스를 지정할때 패키지.클래스 -->
  </servlet>
 
  <servlet-mapping>
  	<servlet-name>My04_01</servlet-name>
  	<url-pattern>/Servlet_04</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>